body {
    background-color: skyblue;
    color: white ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    margin-bottom: 20px;
    padding-top: 10px;
}

header {
    margin: 0px;
    padding: 0px;
}

p {
    text-align: center;
}

h2 {
    font-size: x-large;
    font-weight: 300;
    color: palevioletred;
}

h1 {
    text-align: center;
    font-style: oblique;
}

#Experience ul {
    list-style: square;
}

#Connect a {
    color: forestgreen;
}

.center {
    text-align:center;
    justify-content: center;
}

.nav-link {
    text-align:center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.flex-container {
    display: flex;
    flex-direction: row; 
}

.flex-item {
    padding: 50px;
    text-align: center;
}


@media (min-width: 600px) { /* desktop styles go here */
    h2 {
        color: peachpuff;
        font-size: x-large;
    }

    ul {
        padding: 40px;
        background-color: rgb(251, 240, 255);
    }

    h1 {
        font-size: xx-large;
        font-style: normal;
    }

}

@media (max-width: 601px) { /* tablet styles go here */
    header {
        color: plum;
        font-size: medium;
    }

    ul {
        padding: 20px;
        background-color: blueviolet;
    }

    h1 {
        font-size: large;
        font-style: italic;

    }

}
